@model UserVM

@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<Role> roles = (List<Role>)ViewBag.Roles;
}

@if (ViewBag.Message is not null)
{
    <partial name="/Views/Shared/_ModalMessage.cshtml" model="(String)ViewBag.Message" />
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-xl-5">
        <h1 class="text-center fw-bold">Crear Usuario</h1>

        <form asp-action="Create" class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label h5 fw-bold">Seleccionar Roles:</label>
                <select asp-for="RolesId" class="form-select" id="multiple-select-clear-field" multiple>
                    @foreach (Role role in roles)
                    {
                        if (!User.IsInRole("Super-Admin") && role.IdRole == 1) continue;
                        if (role.IdRole == 2) continue;

                        <option value="@role.IdRole">@role.RoleName</option>
                    }
                </select>
            </div>
            <div class="form-group my-3">
                <label asp-for="Name" class="control-label fw-bold fs-5"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Email" class="control-label fw-bold fs-5"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Password" class="control-label fw-bold fs-5"></label>
                <input asp-for="Password" type="text" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Aceptar" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectsJQueryPartial");
    }
}
