@model UserUpdateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-xl-5">
        <h1 class="text-center fw-bold">Editar Usuario</h1>

        <form asp-action="Edit" class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUser" />
            <div class="form-group my-2">
                <label class="control-label fw-bold fs-5">Seleccionar Roles</label>
                @Html.DropDownList("rolesId", (MultiSelectList)ViewBag.Roles, new { Class = "control-label fw-bold fs-5", multiple = "multiple"})
            </div>
            <div class="form-group my-3">
                <label asp-for="Name" class="control-label fw-bold fs-5"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Email" class="control-label fw-bold fs-5"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Password" class="control-label fw-bold fs-5"></label>
                <input asp-for="Password" type="text" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-3">
                <input type="submit" value="Aceptar" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>

<div class="text-end">
    <a asp-action="Index" class="btn btn-dark me-5">Volver a la Lista</a>
</div>

<script>
    new MultiSelectTag('roles')
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
