@model CandidateResendMailVM

@{
    ViewData["Title"] = "Reenviar Correo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.Message is not null)
{
    <partial name="/Views/Shared/_ModalMessage.cshtml" model="(String)ViewBag.Message" />
}

<form asp-action="ResendMail">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <input type="hidden" asp-for="IdCandidate" />
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label h5">De:</label>
                <input class="form-control" type="text" value="Rosa Emilia Hernández Vásquez" readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label h5">Para:</label>
                <input asp-for="Email" class="form-control" type="text" readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label h5">Contraseña:</label>
                <input asp-for="Password" class="form-control" type="text" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label h5">Pruebas a Recuperar:</label>
                <select asp-for="TestsId" class="form-select" id="multiple-select-clear-field" multiple>
                    <option>Seleccionar Pruebas</option>
                    @foreach (Test test in Model.Tests)
                    {
                        <option value="@test.IdTest">@test.NameTest</option>
                    }
                </select>
                <span asp-validation-for="TestsId"></span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label h5">Asunto:</label>
                <input class="form-control" type="text" value="Recuperación de Evaluaciones Psicológicas" readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label h5">Contenido:</label>
                <textarea class="form-control" rows="7" readonly>Estimado(a)
Dando seguimiento al proceso de selección le comparto las evaluaciones psicológicas, de acuerdo al puesto que usted aplica.
El tiempo de duración es aproximadamente 2 horas y solo requiere que las realice en un ambiente cómodo y sin distracciones.</textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label h5">Indicaciones Generales:</label>
                <textarea class="form-control" rows="7" readonly>Ingrese a la siguiente dirección electrónica:
Ingrese usuario y contraseña.
Lea detenidamente y siga las instrucciones que se le detallarán para el desarrollo de las mismas.
El sistema es sensible a mayúsculas y minúsculas, por lo que recomendamos tener cuidado al momento de registrarse y completar los datos.</textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label h5">Contacto:</label>
                <textarea class="form-control" rows="3" readonly>Rosa Emilia Hernández Vásquez
Rosy.vasquezq@consulightpf.net
7009-7702</textarea>
            </div>
            <div class="text-center mb-3">
                <input type="submit" class="btn btn-primary col-6" value="Enviar Correo">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectsJQueryPartial");
    }
}