@model Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex justify-content-center mt-5">
    <form class="col-12 col-md-8 col-lg-5 px-3" asp-action="Login" asp-controller="Login" method="POST" enctype="multipart/form-data">
        
        <div class="col-12">
            <label asp-for="Email" class="fs-5 fw-semibold px-2"></label>
            <input asp-for="Email" id="email"  class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-12 mt-3">
            <label asp-for="Password" class="fs-5 fw-semibold px-2"></label>
            <input asp-for="Password" id="pass" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="col-12 mt-3 px-2">
            <label asp-for="IsCandidate" class="fs-5 fw-bold"><input asp-for="IsCandidate" style="transform: scale(1.5)" type="checkbox" value="true" />&nbsp;&nbsp; Marcar sí es un candidato</label>
        </div>
        <div class="col-12 my-2 text-center">
            @if (ViewBag.Error != null)
            {
                <span class="text-danger fw-bold">@ViewBag.Error</span>
            }
        </div>
        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary col-5">Ingresar</button>
        </div>

    </form>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@section Scripts{
    <script>
        window.onload = function() {
          var url = new URL(window.location.href);

          var emailParam = url.searchParams.get("Email");
          var passParam = url.searchParams.get("Password");

          if (emailParam != null && passParam != null){
              if (emailParam.length != 0 && passParam.length != 0){
                document.getElementById('email').value = emailParam;
                document.getElementById('pass').value = passParam;
            }
          }

        };
    </script>
}

