@model IEnumerable<Test>

@{
    ViewData["Title"] = "Pruebas Asignadas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 1;
}

<h1 class="fw-bold mb-5">Pruebas Asignadas</h1>

<div class="container">
    <p class="mb-4 fs-4">A continuación, se muestra un listado de pruebas asignadas las cuales estarán disponibles por un corto período de tiempo.</p>
    <p class="mb-4 fs-4">le recordamos que antes de iniciar se asegure de tener una conexión de internet estable además de un ambiente sin interrupciones lo cual le ayudará a realizar sus evaluaciones sin complicaciones.</p>
    <p class="mb-4 fs-4">Cada prueba contiene instrucciones específicas, léalas cuidadosamente y analice el ejemplo antes de comenzar.</p>
    <p class="mb-4 fs-4">Buena Suerte!</p>
</div>

<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Nº
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tiempo Aproximado
            </th>
            <th>
                Estatus
            </th>
            <th>
                Iniciar
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (Test test in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => test.NameTest)
                </td>
                <td>
                    45 min.
                </td>
                <td>
                    Pendiente
                </td>
                <td>
                    <a asp-action="" class="btn btn-success"><i class="bi bi-play-fill"></i></a>
                </td>
            </tr>

            i++;
        }
    </tbody>
</table>
