@model IEnumerable<TestDTO>

@{
    ViewData["Title"] = "Pruebas Asignadas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    byte i = 1;
    bool hasCompletedTest = false;

    foreach (TestDTO test in Model)
    {
        hasCompletedTest = test.Status;
    }
}

<h1 class="fw-bold mb-5">Pruebas Asignadas</h1>

<div class="container mb-5">
    <p class="mb-4 fs-5">A continuación, se muestra un listado de pruebas asignadas las cuales estarán disponibles por un corto período de tiempo.</p>
    <p class="mb-4 fs-5">Le recordamos que antes de iniciar se asegure de tener una conexión de internet estable además de un ambiente sin interrupciones lo cual le ayudará a realizar sus evaluaciones sin complicaciones.</p>
    <p class="mb-4 fs-5">Cada prueba contiene instrucciones específicas, léalas cuidadosamente y analice el ejemplo antes de comenzar.</p>
    <p class="mb-4 fs-5">Buena Suerte!</p>
</div>

@if (hasCompletedTest)
{
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header text-center h2 fw-bold">
                EXCELENTE!!!
            </div>
            <div class="card-body text-center">
                <p class="card-text fs-4">
                    Agradecemos el tiempo invertido para completar las evaluaciones psicólogicas.
                </p>
                <a asp-controller="Login" asp-action="Logout" class="btn btn-primary">Aceptar</a>
            </div>
        </div>
    </div>
}
else
{   
    <table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Nº
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tiempo Apróximado
            </th>
            <th>
                Completado
            </th>
            <th>
                Iniciar
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (TestDTO test in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    Prueba @test.NameTest
                </td>
                <td>
                    @test.Time
                </td>
                @if (test.Status)
                {
                    <td>
                        <span class="btn btn-success fw-bold p-1">Si</span>
                    </td>

                }
                else
                {
                    <td>
                        <span class="btn btn-danger fw-bold p-1">No</span>
                    </td>
                }
                <td>
                    <a asp-action="@test.Link" class="btn btn-success"><i class="bi bi-play-fill"></i></a>
                </td>
            </tr>

            i++;
        }
    </tbody>
</table>
}

@if (ViewBag.Message != null)
{
    <div class="mt-4">
        <p class="fw-bold text-danger text-center fs-4">@ViewBag.Message</p>
    </div>
}


