
@{
    ViewData["Title"] = "Prueba Dominos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 0;
}

<h1 class="mb-3">Prueba de Dominos</h1>

@for (int item = 1; item <= 5; item++)
{
    <div class="d-flex bg-dark-subtle w-75 m-2">
        <div class="card-header col-10">
            <img src="@String.Format($"/img/Dominos/Domino{item}.jpg")" class="card-img-top w-50" />
        </div>
        <div class="card-body col-2">
            <input type="number" name="responses[@i][0]" class="d-block p-3 border border-dark w-100"/>
            <input type="number" name="responses[@i][1]" class="d-block p-3 border border-dark w-100"/>
        </div>
    </div>

    i++;
}
