@model IEnumerable<Questions_16PF>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Prueba 16PF Forma B";
}

<h2 class="fw-bold my-2">Prueba 16PF Forma B</h2>

<form asp-action="Test_16PF_B" method="post">
    <partial name="_Test_16PF" model="Model" />
</form>