@model IEnumerable<Questions_BFQ>

@{
    ViewData["Title"] = "Prueba Big Five";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    byte i = 0;
}

<div class="" id="example">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title h2 ">Instrucciones Generales</h1>
            <div class="card-text fs-5 mb-4">
                <p class="mb-3">
                    A continuación, encontrará una serie de frases sobre formas de pensar, sentir o actuar. Para que las vaya leyendo atentamente y marque la respuesta que describa mejor cuál es su forma habitual de pensar, sentir o actuar.
                </p>
                <p class="mb-3">
                    Para contestar debe seleccionar  los números del 5 - 1 de acuerdo a las siguientes alternativas:
                </p>
                <p class="mb-3">
                    <b>5 Completamente VERDADERO para mí</b>
                </p>
                <p class="mb-3">
                    <b>4 Bastante VERDADERO para mí</b>
                </p>
                <p class="mb-3">
                    <b>3 Ni VERDADERO ni FALSO para mí </b>
                </p>
                <p class="mb-3">
                    <b>2 Bastante FALSO para mí</b>
                </p>
                <p class="mb-3">
                    <b>1 Completamente FALSO para mí</b>
                </p>
            </div>

            <hr />

            <div class="my-4">
                <div class="container d-flex mb-4 border-bottom">
                    <div class=" col-6 d-flex align-items-center">
                        <p class=" fs-4 px-3 m-0">E1. Me gusta pasear por el parque de la cuidad.</p>
                    </div>
                    <div class="col-6">
                        <table class="table table-borderless m-0">
                            <thead class="text-center fs-5">
                                <tr class="">
                                    <th>
                                        5
                                    </th>
                                    <th>
                                        4
                                    </th>
                                    <th>
                                        3
                                    </th>
                                    <th>
                                        2
                                    </th>
                                    <th>
                                        1
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center fs-5">
                                <tr class="">
                                    <td>
                                        <input class="" type="radio" name="responses[500]" value="5"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[500]" value="4"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[500]" value="3"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[500]" value="2"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[500]" value="1"
                                               style="width:25px; height: 25px" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container d-flex mb-4 border-bottom">
                    <div class=" col-6 d-flex align-items-center">
                        <p class=" fs-4 px-3 m-0">E2. La familia es el móvil de todos mis contactos.</p>
                    </div>
                    <div class="col-6">
                        <table class="table table-borderless m-0">
                            <thead class="text-center fs-5">
                                <tr class="">
                                    <th>
                                        5
                                    </th>
                                    <th>
                                        4
                                    </th>
                                    <th>
                                        3
                                    </th>
                                    <th>
                                        2
                                    </th>
                                    <th>
                                        1
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center fs-5">
                                <tr class="">
                                    <td>
                                        <input class="" type="radio" name="responses[501]" value="5"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[501]" value="4"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[501]" value="3"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[501]" value="2"
                                               style="width:25px; height: 25px" />
                                    </td>
                                    <td>
                                        <input class="" type="radio" name="responses[501]" value="1"
                                               style="width:25px; height: 25px" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 class="card-title fw-bold">COMIENCE A COMPLETAR LA EVALUACIÓN.</h4>
            <div class="card-text fs-5">
                <p class="mb-3">
                    No existen respuestas correctas o incorrectas. Procure contestar  a todas las frases. Recuerde que debe dar su propia  opinión acerca de usted. Trate de ser sincero consigo mismo y contestar con espontaneidad sin pensarlo demasiado.
                </p>
            </div>
            <div class="text-end">
                <button class="btn btn-primary" onclick="startTest()">Empezar</button>
            </div>
        </div>
    </div>
</div>
<div id="test" class="d-none"> 
    <h1 class="mb-3">Prueba Big Five</h1>

    <form method="post">
        @foreach (Questions_BFQ test in Model)
        {
            <div class="container d-flex mb-4 border-bottom">
                <div class=" col-6 d-flex align-items-center">
                    <p class=" fs-4 px-3 m-0">@test.QuestionNumber. @test.Question</p>
                </div>
                <div class="col-6">
                    <table class="table table-borderless m-0">
                        <thead class="text-center fs-5">
                            <tr class="">
                                <th>
                                    5
                                </th>
                                <th>
                                    4
                                </th>
                                <th>
                                    3
                                </th>
                                <th>
                                    2
                                </th>
                                <th>
                                    1
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center fs-5">
                            <tr class="">
                                <td>
                                    <input class="" type="radio" id="" name="responses[@i]" value="5"
                                       style="width:25px; height: 25px" />
                                </td>
                                <td>
                                    <input class="" type="radio" id="" name="responses[@i]" value="4"
                                       style="width:25px; height: 25px" />
                                </td>
                                <td>
                                    <input class="" type="radio" id="" name="responses[@i]" value="3"
                                       style="width:25px; height: 25px" />
                                </td>
                                <td>
                                    <input class="" type="radio" id="" name="responses[@i]" value="2"
                                       style="width:25px; height: 25px" />
                                </td>
                                <td>
                                    <input class="" type="radio" id="" name="responses[@i]" value="1"
                                       style="width:25px; height: 25px" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            i++;
        }

        <div class="text-end my-3">
            <input type="submit" class="btn btn-primary" value="Terminar" />
        </div>
    </form>
</div>


