@model RoleVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<Permission> permissions = (List<Permission>)ViewBag.Permissions;
}

@if (ViewBag.Message is not null)
{
    <partial name="/Views/Shared/_ModalMessage.cshtml" model="(String)ViewBag.Message"/>
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-xl-5">
        <h1 class="text-center fw-bold">Crear Rol</h1>

        <form asp-action="Create" class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label h5 fw-bold">Seleccionar Permisos:</label>
                <select asp-for="PermissionsId" class="form-select" id="multiple-select-clear-field" multiple>
                    @foreach (Permission permission in permissions)
                    {
                        <option value="@permission.IdPermission">@permission.PermissionName</option>
                    }
                </select>
            </div>
            <div class="form-group my-3">
                <label asp-for="RoleName" class="control-label fw-bold fs-5"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Aceptar" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectsJQueryPartial");
    }
}
