@model IEnumerable<Permission>

@{
    ViewData["Title"] = "Permisos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold mb-4">Lista de Permisos</h1>

<table class="table table-striped align-middle" id="dataTable">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Nombre del Permiso
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (Permission permission in Model)
        {
            if (permission.Assigned == "Candidatos") continue;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => permission.PermissionName)
                </td>
            </tr>
        }
    </tbody>
</table>
