@model IEnumerable<Result>

@{
    Layout = null;

    Result result = Model.ElementAtOrDefault(0);

    int score = result.Score;
    int percentile = result.Percentile;
}

<h2 class="h1 text-center fw-bold">Domino 48</h2>

<div class="m-4 ">
    <table class="table-domino table-bordered border border-3 border-dark">
        <tbody>
            <tr class="tr-result-domino">
                <td class="border border-3 border-dark"></td>
                <td class="border border-3 border-dark"></td>
                <td class="border border-3 border-dark"></td>
                <td class="border border-3 border-dark"></td>
            </tr>
            <tr class="text-center fs-5">
                <td class="t-head border border-3 border-dark">Deficiente</td>
                <td class="t-head border border-3 border-dark">Inferior al Término Medio</td>
                <td class="t-head border border-3 border-dark">Término Medio</td>
                <td class="t-head border border-3 border-dark">Superior al Término Medio</td>
                <td class="t-head border border-3 border-dark">Superior</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="px-5 ">
    <div class="mb-3">
        <h4 class="fs-3 fw-bold ">Interpretación</h4>
        <p class="col-10 ms-4 fs-5 fw-bold text-secondary">@result.Description</p>

        <div class="d-flex gap-4 ms-4 fs-5 fw-bold text-primary">
            <p class="p-0 m-0">Puntuación: @result.Score</p>
            <p class="p-0 m-0">Centil: @result.Percentile</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    let pseudoDomino = document.querySelector(".tr-result-domino");

    let percentileDomino = @percentile;
    let widthDomino = "";

    if (percentileDomino >= 77) widthDomino = "90%";
    if (percentileDomino <= 55) widthDomino = "70%";
    if (percentileDomino == 50) widthDomino = "50%";
    if (percentileDomino <= 45) widthDomino = "30%";
    if (percentileDomino <= 23) widthDomino = "10%";


    pseudoDomino.style.setProperty('--width-pseudo', widthDomino);
</script>

