@model IEnumerable<Result>

@{
    Layout = null;

    List<int> decatypes = new List<int>();

    foreach (Result result in Model)
    {
        decatypes.Add(result.Percentile);
    }

    byte i = 0;
    string[] factors =
    {
        "I.- Comprensión",
        "II.- Adaptabilidad",
        "III.- Control de sí mismo",
        "IV.- Tolerancia a la frustración",
        "V.- Combatividad",
        "VI.- Dominio",
        "VII.- Seguridad",
        "VIII.- Actividad",
        "IX.- Sociabilidad",
        "DGA.- Disposición General para la Venta",
        "R.- Receptividad",
        "A.- Agresividad"
    };

    string factorsDescriptionJson = JsonConvert.SerializeObject(factors);
    string percentileJson = JsonConvert.SerializeObject(decatypes);
}

<h2 class="text-center fw-bold">IPV</h2>

<div class="">
    <div id="chartIPV" style="width: 100%; height: 500px"></div>
</div>

<div class="">
    @foreach (Result result in Model)
    {
        <p class="mt-4 fs-5 fw-bold text-danger">Factor @factors[i++]</p>
        <p class="my-3 fs-5 fw-bold">@result.Description</p>
    }
</div>

<script>
    let percentilesData = @Html.Raw(percentileJson);
    let factorsData = @Html.Raw(factorsDescriptionJson);

    let chartIPV = echarts.init(document.getElementById('chartIPV'));

    let option = {
       grid: {
            show: true,
            width: "50%",
            left: "30%",
            right: "10%"
        },
        legend: {
            data: ['Decatipos']
        },
        xAxis: {
            type: 'value',
            max: 10,
            position: 'top',
            splitNumber: 10,
            axisLabel: {
                fontSize: 16,
                fontWeight: "bold",
            }
        },
        yAxis: {
            type: 'category',
            data: factorsData,
            axisLabel: {
                fontSize: 16,
                fontWeight: "bold",
            }
        },
        series: [
            {
                data: percentilesData,
                type: 'line'
            }
        ]
    };

    chartIPV.setOption(option);
</script>

