
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a asp-controller="Home" asp-action="Dashboard" class="logo d-flex align-items-center">
            <img src="~/img/logo.png" alt="">
            <span class="d-none d-lg-block">RHPsicotest</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block mx-2">
                <h5 class="my-0 fw-semibold">@User.Identity.Name</h5>
            </li>
            <li class="nav-item d-block mx-2">
                <a class="btn btn-danger font-weight-bold" asp-controller="Login" asp-action="Logout">Salir</a>
            </li>
        </ul>
    </nav>

</header>
