<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Dashboard">
                <i class="bi bi-grid"></i>
                <span class="fw-bold fs-6">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#component-role-permission" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span class="fw-bold fs-6">Roles y Permisos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="component-role-permission" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                @if ((await AuthorizationService.AuthorizeAsync(User, "List-Role-Policy")).Succeeded)
                {
                    <li>
                        <a asp-action="Index" asp-controller="Role">
                            <i class="bi bi-circle"></i><span class="fw-bold fs-6">Roles</span>
                        </a>
                    </li>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "List-User-Policy")).Succeeded)
                {
                    <li>
                        <a asp-action="Index" asp-controller="User">
                            <i class="bi bi-circle"></i><span class="fw-bold fs-6">Usuarios</span>
                        </a>
                    </li>
                }
                <li>
                    <a asp-action="Index" asp-controller="Permission">
                        <i class="bi bi-circle"></i><span class="fw-bold fs-6">Permisos</span>
                    </a>
                </li>
            </ul>
        </li>

        @if ((await AuthorizationService.AuthorizeAsync(User, "List-Position-Policy")).Succeeded)
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Position" class="nav-link">
                    <i class="bi bi-grid"></i><span class="fw-bold fs-6">Puestos</span>
                </a>
            </li>
        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "List-Candidate-Policy")).Succeeded)
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Candidate" class="nav-link">
                    <i class="bi bi-grid"></i><span class="fw-bold fs-6">Contraseñas</span>
                </a>
            </li>
        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "List-Expedient-Policy")).Succeeded)
        {
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Expedient" class="nav-link">
                    <i class="bi bi-grid"></i><span class="fw-bold fs-6">Expedientes</span>
                </a>
            </li>
        }
    </ul>

</aside>